<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{% if page.title %}{{ page.title }} - Hari Prasad{% else %}{{ site.title }}{% endif %}</title>

  <meta name="author" content="Hari Prasad">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheet.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H95TZ2WCKM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H95TZ2WCKM');
  </script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr class="header-row" style="padding:0px">
            <td class="header-text" style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="text-align:left">
                <name style="font-weight: 900;">{{ page.header_name | default: page.title | default: "Blog posts" }}</name>
              </p>
              <p style="text-align:left">
                <a href="https://hari.qpoch.com">Home</a> &nbsp/&nbsp
                <a href="mailto:h4ri.prasad@gmail.com">Email</a> &nbsp/&nbsp
                <a href="https://hari.qpoch.com/cv.html">CV</a> &nbsp/&nbsp
                <a href="https://scholar.google.co.in/citations?user=mXTiylkAAAAJ">Google Scholar</a> &nbsp/&nbsp
                <a href="https://linkedin.com/in/hpr">LinkedIn</a> &nbsp/&nbsp
                <a href="https://github.com/hxri/">Github</a> &nbsp/&nbsp
                <a href="https://qpochlabs.github.io">Blog</a>
              </p>
              <hr>
            </td>
            <td class="header-logo" style="padding:2.5%;width:37%;vertical-align:middle;text-align:right">
              <a href="https://qpochlabs.github.io"><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="qpoch" style="max-width:170px;width:100%;height:auto"></a>
            </td>
          </tr>
        </tbody></table>

        {{ content }}

<!-- Footer -->

        <hr style="margin-bottom: 0;">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
            <td style="padding:0px;">
              <br>
              <p style="text-align:center;font-size:small;">
                Checkout my other website <a href="https://hari.qpoch.com">hari.qpoch.com</a> <br>
                Design and source code from <a href="https://jonbarron.info/">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </table>
</body>

</html>
